<!DOCTYPE html>
<html lang="fr">
	<meta charset="utf-8">
	<%- include('composants/head') %>
	<body>
	<%- include('composants/menu') %>
		<div id="global">
			<h1><%= __('bienvenu') %></h1>
			<p><%= __('textAcc') %></p>
		</div>
	<%- include('composants/footer') %>
	</body>
</html>