<!DOCTYPE html>
<html lang="fr">
<meta charset="utf-8">
<%- include('composants/head') %>
<body>
<%- include('composants/menu') %>
<div id="global">
	<nav>
		<ul>
			<li><a href="http://localhost:8081/peupler"><%= __("peupler") %></a></li>
			<li><a href="http://localhost:8081/vider"><%= __("vider") %></a></li>
		</ul>
	</nav>
 <table id="tab" class="tableau">
 	<% let noLigne = 0 %>
	 <% for (elm of adresses) { %>

	 <% if(noLigne == 0){ %>
		 <tr>
			 <% noLigne++
			 for (p in elm ){ %>
				 <% if(p == "nom" || p == "prenom") { %>
				 <th><a href='http://localhost:8081/trier/<%= p %>/<%= direction %>'><%= __(p) %></a></th>
				 <% } %>
			 <% } %>
			 <th><a id="btnAjout" href='#'><%= __("ajouter") %></a></th>
		 </tr>
	 <% } %>

	 <tr>
		 <% for (p in elm ){ %>
		 	<% if(p == "_id") { %>
		 	<td style="display: none"><%= elm[p] %></td>
			<% } %>
		 	<% if(p == "nom" || p == "prenom") { %>
		 	<td><%= elm[p] %></td>
		 	<% } %>
		 <% } %>
		 <td><a class="btnSup" href='#'><%= __("detruire") %></a></td>
		 <td><a href="/profilmembre/<%= elm._id %>"><%= __("profil") %></a></td>
	 </tr>
	 <% } %>
 </table>
</div>
<%- include('composants/footer') %>

<script type="text/javascript">

	/////////////////////////////////////////////////Détruire
	let xhr = new XMLHttpRequest();
	let ajouteUnMembre = false;
	let elmSup = document.querySelectorAll('.btnSup');
	for (elm of elmSup){
		elm.addEventListener('click', function(){
			ajouteUnMembre = false;
			let laLigne = this.parentNode.parentNode;
			let id = laLigne.children[0].innerHTML;
			console.log(id);

			data = {
				"_id" : id
			}

			xhr.open('GET', "/detruire/"+id, true);
			sData = JSON.stringify(data);
			xhr.setRequestHeader('Content-type', 'application/json');
			xhr.send(sData);
			laLigne.remove();
			xhr.addEventListener("readystatechange", traiterRequest, false);
		})
	}

	///////////////////////////////////////////////Ajouter

	let elmAjout = document.getElementById('btnAjout');
	elmAjout.addEventListener('click', function(){
		ajouteUnMembre=true;
		data = {
			"nom":"Nom",
			"prenom":"Prenom",
			"telephone":"Telephone",
			"courriel":"Courriel"
		}

		xhr.open('POST', "/ajouter", true);
		sData = JSON.stringify(data);
		xhr.setRequestHeader('Content-type', 'application/json');
		xhr.send(sData);
		xhr.addEventListener("readystatechange", traiterRequest, false);

	})

	///////////////////////////////////////////////Traitement

	function traiterRequest(e){
		if(xhr.readyState == 4 && xhr.status == 200) {
			let maReponse = JSON.parse(xhr.responseText);

			if(ajouteUnMembre == true){
				let tab = document.getElementById("tab");
				let nouvelleLigne = document.createElement("tr");
				console.log(maReponse._id);

				let contenuTr = '<td style="display: none">'+maReponse._id+'</td><td>Nom</td><td>Prenom</td><td><a class="btnSup" href="#"><%= __("detruire") %></a></td><td><a href="/profilmembre/'+maReponse._id+'"><%= __("profil") %></a></td>';
				nouvelleLigne.innerHTML = contenuTr;
				tab.appendChild(nouvelleLigne);
			}
		}
	}

</script>
</body>
</html>